In [1]:
import pandas as dp

In [3]:
surveys_df = dp.read_csv('surveys.csv')

In [4]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [5]:
surveys_species = surveys_df['species_id']

In [6]:
surveys_df[['species_id','plot_id']].head()

  species_id  plot_id
0         NL        2
1         NL        3
2         DM        2
3         DM        7
4         DM        3

In [7]:
surveys_df.year.head()

0    1977
1    1977
2    1977
3    1977
4    1977
Name: year, dtype: int64

In [8]:
surveys_df[(surveys_df.year >= 1980)&(surveys_df.year <= 1985)].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2270,2271,1,15,1980,8,DO,M,35.0,53.0
2271,2272,1,15,1980,11,PF,F,16.0,10.0
2272,2273,1,15,1980,18,DM,F,34.0,33.0
2273,2274,1,15,1980,11,DM,M,38.0,37.0
2274,2275,1,15,1980,8,DO,F,33.0,29.0

In [19]:
surveys_df[(surveys_df.year == 1999)&(surveys_df.weight <= 8)]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
29082,29083,1,16,1999,21,RM,M,16.0,8.0
29196,29197,2,20,1999,18,RM,M,18.0,8.0
29421,29422,3,15,1999,16,RM,M,15.0,8.0
29903,29904,10,10,1999,4,PP,M,20.0,7.0
29905,29906,10,10,1999,4,PP,M,21.0,4.0

In [24]:
surveys_df[surveys_df['species_id'].isin(['RM','PP'])].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
17,18,7,16,1977,2,PP,M,22.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
48,49,7,18,1977,12,PP,F,17.0,NaN
88,89,8,20,1977,12,PP,F,20.0,15.0
107,108,8,20,1977,11,PP,M,21.0,NaN

In [32]:
surveys_df[~surveys_df['sex'].isin(['M','F'])].count()

record_id          2511
month              2511
day                2511
year               2511
plot_id            2511
species_id         1748
sex                   0
hindfoot_length      68
weight              101
dtype: int64

In [35]:
dp.isnull(surveys_df)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,True,True
7,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,True,True,True
14,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,True,True,True
19,False,False,False,False,False,False,False,False,True
20,False,False,False,False,False,False,False,False,True
21,False,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,False,True
28,False,False,False,False,False,False,False,True,True
29,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
35519,False,False,False,False,False,False,True,False,False
35520,False,False,False,False,False,False,False,False,False
35521,False,False,False,False,False,False,False,False,False
35522,False,False,False,False,False,False,False,False,False
35523,False,False,False,False,False,False,False,False,False
35524,False,False,False,False,False,False,False,False,False
35525,False,False,False,False,False,False,False,False,False
35526,False,False,False,False,False,False,False,False,False
35527,False,False,False,False,False,False,True,True,True
35528,False,False,False,False,False,False,False,False,False
35529,False,False,False,False,False,False,False,False,True
35530,False,False,False,False,False,False,False,False,True
35531,False,False,False,False,False,False,False,False,False
35532,False,False,False,False,False,False,False,False,False
35533,False,False,False,False,False,False,False,False,False
35534,False,False,False,False,False,False,False,False,False
35535,False,False,False,False,False,False,False,False,False
35536,False,False,False,False,False,False,False,False,False
35537,False,False,False,False,False,False,False,False,False
35538,False,False,False,False,False,False,False,False,False
35539,False,False,False,False,False,False,False,False,False
35540,False,False,False,False,False,False,False,False,False
35541,False,False,False,False,False,False,False,False,False
35542,False,False,False,False,False,False,False,False,False
35543,False,False,False,False,False,False,True,True,True
35544,False,False,False,False,False,False,True,True,True
35545,False,False,False,False,False,False,True,True,True
35546,False,False,False,False,False,False,False,False,False
35547,False,False,False,False,False,False,False,False,False
35548,False,False,False,False,False,True,True,True,True

In [43]:
surveys_df[(dp.isnull(surveys_df).any(axis=1))]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35187,35188,11,10,2002,10,NaN,NaN,NaN,NaN
35256,35257,12,7,2002,22,PB,M,26.0,NaN
35259,35260,12,7,2002,21,PB,F,24.0,NaN
35277,35278,12,7,2002,20,AH,NaN,NaN,NaN
35279,35280,12,7,2002,16,PB,M,28.0,NaN
35322,35323,12,8,2002,11,AH,NaN,NaN,NaN
35328,35329,12,8,2002,11,PP,M,NaN,16.0
35370,35371,12,8,2002,14,AH,NaN,NaN,NaN
35378,35379,12,8,2002,15,PB,F,26.0,NaN
35384,35385,12,8,2002,10,NaN,NaN,NaN,NaN
35387,35388,12,29,2002,1,DO,M,35.0,NaN
35403,35404,12,29,2002,2,NL,F,30.0,NaN
35448,35449,12,29,2002,20,OT,F,20.0,NaN
35452,35453,12,29,2002,20,PB,M,28.0,NaN
35457,35458,12,29,2002,20,AH,NaN,NaN,NaN
35477,35478,12,29,2002,24,AH,NaN,NaN,NaN
35485,35486,12,29,2002,16,DO,M,37.0,NaN
35495,35496,12,31,2002,4,PB,NaN,NaN,NaN
35510,35511,12,31,2002,11,DX,NaN,NaN,NaN
35511,35512,12,31,2002,11,US,NaN,NaN,NaN
35512,35513,12,31,2002,11,US,NaN,NaN,NaN
35514,35515,12,31,2002,11,SF,F,27.0,NaN
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [48]:
newsex_df = surveys_df[~surveys_df['sex'].isin(['M','F'])]

In [73]:
newsex_df.loc[:,'sex'] = 'x'

In [74]:
newsex_df['sex'].head()

13    x
18    x
33    x
56    x
76    x
Name: sex, dtype: object

In [72]:
newsex_df.head()

   record_id month day  year plot_id species_id sex hindfoot_length weight
13        14     7  16  1977       8         DM  ax             NaN    NaN
18        19     7  16  1977       4         PF  ax             NaN    NaN
33        34     7  17  1977      17         DM  ax             NaN    NaN
56        57     7  18  1977      22         DM  ax             NaN    NaN
76        77     8  19  1977       4         SS  ax             NaN    NaN

In [77]:
MF_df = surveys_df[surveys_df['sex'].isin(['M','F']) & (surveys_df.weight > 0)]

In [81]:
mfsmall_df = MF_df.head()

In [90]:
mfsmall_df.plot.bar(x='weight')

In [91]:
species_df = dp.read_csv("species.csv")

In [100]:
surveyssub = species_df.head()

In [102]:
surveysublast10 = species_df.tail(10)

In [106]:
surveysublast10 = surveysublast10.reset_index(drop=True)

In [107]:
vertical_stack.to_csv('out.csv')

NameError: name 'vertical_stack' is not defined

In [108]:
d_frame8082 = surveys_df[surveys_df['year'].isin([1980,1982])]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2270,2271,1,15,1980,8,DO,M,35.0,53.0
2271,2272,1,15,1980,11,PF,F,16.0,10.0
2272,2273,1,15,1980,18,DM,F,34.0,33.0
2273,2274,1,15,1980,11,DM,M,38.0,37.0
2274,2275,1,15,1980,8,DO,F,33.0,29.0
2275,2276,1,15,1980,11,DS,M,47.0,132.0
2276,2277,1,15,1980,8,PF,M,15.0,8.0
2277,2278,1,15,1980,9,OT,M,21.0,23.0
2278,2279,1,15,1980,11,DM,F,36.0,36.0
2279,2280,1,15,1980,21,OT,F,20.0,21.0
2280,2281,1,15,1980,11,OL,M,20.0,29.0
2281,2282,1,15,1980,17,DM,F,36.0,49.0
2282,2283,1,15,1980,11,OL,M,21.0,23.0
2283,2284,1,15,1980,9,OL,M,20.0,32.0
2284,2285,1,15,1980,10,OL,F,20.0,24.0
2285,2286,1,15,1980,11,DM,M,38.0,47.0
2286,2287,1,15,1980,21,OT,M,19.0,22.0
2287,2288,1,15,1980,19,RM,F,17.0,12.0
2288,2289,1,15,1980,20,DS,F,52.0,150.0
2289,2290,1,15,1980,11,DM,M,37.0,49.0
2290,2291,1,15,1980,9,OL,F,21.0,34.0
2291,2292,1,15,1980,12,DM,F,35.0,40.0
2292,2293,1,15,1980,18,DS,F,51.0,132.0
2293,2294,1,15,1980,22,DM,F,34.0,25.0
2294,2295,1,15,1980,9,OL,M,21.0,36.0
2295,2296,1,15,1980,8,DO,F,34.0,50.0
2296,2297,1,15,1980,11,DM,M,37.0,45.0
2297,2298,1,15,1980,17,DM,M,35.0,47.0
2298,2299,1,15,1980,9,DM,M,38.0,46.0
2299,2300,1,15,1980,18,DM,F,32.0,29.0
...,...,...,...,...,...,...,...,...,...
7105,7106,11,22,1982,9,DS,F,50.0,132.0
7106,7107,11,22,1982,1,DO,M,36.0,50.0
7107,7108,11,22,1982,12,PF,F,16.0,7.0
7108,7109,11,22,1982,9,DS,M,49.0,130.0
7109,7110,11,22,1982,11,PF,M,16.0,6.0
7110,7111,11,22,1982,4,PF,M,15.0,6.0
7111,7112,11,22,1982,1,DO,F,34.0,49.0
7112,7113,11,22,1982,4,DS,F,52.0,119.0
7113,7114,11,22,1982,11,DS,F,51.0,111.0
7114,7115,11,22,1982,1,OL,M,19.0,26.0
7115,7116,11,22,1982,2,DO,F,35.0,45.0
7116,7117,11,22,1982,4,DM,F,33.0,45.0
7117,7118,11,22,1982,1,OL,M,21.0,39.0
7118,7119,11,22,1982,2,DO,F,36.0,43.0
7119,7120,11,22,1982,5,DM,M,37.0,46.0
7120,7121,11,22,1982,8,DS,F,50.0,106.0
7121,7122,11,22,1982,8,PF,M,15.0,6.0
7122,7123,11,22,1982,1,DM,F,33.0,35.0
7123,7124,11,22,1982,3,PF,M,15.0,6.0
7124,7125,11,22,1982,4,DS,F,48.0,122.0
7125,7126,11,22,1982,5,DM,M,35.0,41.0
7126,7127,11,22,1982,5,OL,M,22.0,43.0
7127,7128,11,22,1982,9,DM,F,33.0,36.0
7128,7129,11,22,1982,12,DS,F,48.0,102.0
7129,7130,11,22,1982,1,DM,M,37.0,48.0
7130,7131,11,22,1982,6,OT,F,19.0,27.0
7131,7132,11,22,1982,11,DM,M,36.0,45.0
7132,7133,11,22,1982,1,DM,F,34.0,35.0
7133,7134,11,22,1982,6,OT,M,21.0,24.0
7134,7135,11,22,1982,12,DM,M,37.0,41.0

In [111]:
d_frame8082.to_csv('data80-82.csv')

In [112]:
surveySub = surveys_df.head(10)
speciesSub = species_df.head(10)

In [116]:
merged_inner = dp.merge(left=species_df,right=surveyssub,
                        left_on='species_id', right_on='species_id')

In [117]:
import pandas as pd

In [118]:
surveySub = surveys_df.head(10)
surveySubLast10 = surveys_df[-11:-1]
surveySubLast10=surveySubLast10.reset_index(drop=True)

In [134]:
surveySub = surveys_df.head(100)
speciesSub = species_df.head(12)

In [135]:
merged_inner = pd.merge(left=surveySub,right=speciesSub, left_on='species_id', right_on='species_id')

In [136]:
merged_inner

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
0,3,7,16,1977,2,DM,F,37.0,NaN,Dipodomys,merriami,Rodent
1,4,7,16,1977,7,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
2,5,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
3,8,7,16,1977,1,DM,M,37.0,NaN,Dipodomys,merriami,Rodent
4,9,7,16,1977,1,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
5,12,7,16,1977,7,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
6,13,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
7,14,7,16,1977,8,DM,NaN,NaN,NaN,Dipodomys,merriami,Rodent
8,15,7,16,1977,6,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
9,16,7,16,1977,4,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
10,21,7,17,1977,14,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
11,23,7,17,1977,13,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
12,25,7,17,1977,9,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
13,26,7,17,1977,15,DM,M,31.0,NaN,Dipodomys,merriami,Rodent
14,27,7,17,1977,15,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
15,28,7,17,1977,11,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
16,31,7,17,1977,15,DM,F,37.0,NaN,Dipodomys,merriami,Rodent
17,32,7,17,1977,10,DM,F,35.0,NaN,Dipodomys,merriami,Rodent
18,33,7,17,1977,11,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
19,34,7,17,1977,17,DM,NaN,NaN,NaN,Dipodomys,merriami,Rodent
20,35,7,17,1977,13,DM,F,38.0,NaN,Dipodomys,merriami,Rodent
21,37,7,17,1977,11,DM,F,35.0,NaN,Dipodomys,merriami,Rodent
22,39,7,17,1977,11,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
23,40,7,18,1977,20,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
24,41,7,18,1977,23,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
25,43,7,18,1977,21,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
26,44,7,18,1977,18,DM,F,35.0,NaN,Dipodomys,merriami,Rodent
27,45,7,18,1977,22,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
28,46,7,18,1977,19,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
29,47,7,18,1977,18,DM,M,32.0,NaN,Dipodomys,merriami,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...
35,54,7,18,1977,18,DM,M,37.0,NaN,Dipodomys,merriami,Rodent
36,55,7,18,1977,23,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
37,56,7,18,1977,20,DM,M,34.0,NaN,Dipodomys,merriami,Rodent
38,57,7,18,1977,22,DM,NaN,NaN,NaN,Dipodomys,merriami,Rodent
39,59,7,18,1977,19,DM,M,33.0,NaN,Dipodomys,merriami,Rodent
40,61,7,18,1977,23,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
41,62,7,18,1977,19,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
42,63,8,19,1977,3,DM,M,35.0,40.0,Dipodomys,merriami,Rodent
43,64,8,19,1977,7,DM,M,37.0,48.0,Dipodomys,merriami,Rodent
44,65,8,19,1977,4,DM,F,34.0,29.0,Dipodomys,merriami,Rodent
45,66,8,19,1977,4,DM,F,35.0,46.0,Dipodomys,merriami,Rodent
46,67,8,19,1977,7,DM,M,35.0,36.0,Dipodomys,merriami,Rodent
47,71,8,19,1977,7,DM,F,36.0,35.0,Dipodomys,merriami,Rodent
48,75,8,19,1977,8,DM,F,32.0,22.0,Dipodomys,merriami,Rodent
49,79,8,19,1977,7,DM,F,34.0,42.0,Dipodomys,merriami,Rodent
50,82,8,19,1977,4,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
51,83,8,20,1977,6,DM,F,37.0,37.0,Dipodomys,merriami,Rodent
52,84,8,20,1977,19,DM,F,35.0,43.0,Dipodomys,merriami,Rodent
53,85,8,20,1977,23,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
54,86,8,20,1977,18,DM,F,33.0,40.0,Dipodomys,merriami,Rodent
55,88,8,20,1977,18,DM,F,35.0,45.0,Dipodomys,merriami,Rodent
56,90,8,20,1977,18,DM,M,35.0,29.0,Dipodomys,merriami,Rodent
57,92,8,20,1977,6,DM,M,35.0,39.0,Dipodomys,merriami,Rodent
58,93,8,20,1977,18,DM,NaN,NaN,42.0,Dipodomys,merriami,Rodent
59,94,8,20,1977,18,DM,F,36.0,43.0,Dipodomys,merriami,Rodent
60,95,8,20,1977,23,DM,M,38.0,46.0,Dipodomys,merriami,Rodent
61,96,8,20,1977,12,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
62,97,8,20,1977,18,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
63,98,8,20,1977,5,DM,M,38.0,40.0,Dipodomys,merriami,Rodent
64,99,8,20,1977,11,DM,M,37.0,45.0,Dipodomys,merriami,Rodent

In [137]:
merged_left = pd.merge(left=surveySub,right=speciesSub, how='left', left_on='species_id', right_on='species_id')

In [138]:
merged_left

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa
0,1,7,16,1977,2,NL,M,32.0,NaN,NaN,NaN,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN,NaN,NaN,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN,Dipodomys,merriami,Rodent
3,4,7,16,1977,7,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
4,5,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
5,6,7,16,1977,1,PF,M,14.0,NaN,NaN,NaN,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN,NaN,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN,Dipodomys,merriami,Rodent
8,9,7,16,1977,1,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
9,10,7,16,1977,6,PF,F,20.0,NaN,NaN,NaN,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN,NaN,NaN,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
12,13,7,16,1977,3,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
13,14,7,16,1977,8,DM,NaN,NaN,NaN,Dipodomys,merriami,Rodent
14,15,7,16,1977,6,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
15,16,7,16,1977,4,DM,F,36.0,NaN,Dipodomys,merriami,Rodent
16,17,7,16,1977,3,DS,F,48.0,NaN,NaN,NaN,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN,NaN,NaN,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN,NaN,NaN,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN,Dipodomys,merriami,Rodent
21,22,7,17,1977,15,NL,F,31.0,NaN,NaN,NaN,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
23,24,7,17,1977,13,SH,M,21.0,NaN,NaN,NaN,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN,Dipodomys,merriami,Rodent
25,26,7,17,1977,15,DM,M,31.0,NaN,Dipodomys,merriami,Rodent
26,27,7,17,1977,15,DM,M,36.0,NaN,Dipodomys,merriami,Rodent
27,28,7,17,1977,11,DM,M,38.0,NaN,Dipodomys,merriami,Rodent
28,29,7,17,1977,11,PP,M,NaN,NaN,NaN,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,8,19,1977,7,DM,F,36.0,35.0,Dipodomys,merriami,Rodent
71,72,8,19,1977,2,NL,M,31.0,NaN,NaN,NaN,NaN
72,73,8,19,1977,3,DS,F,44.0,NaN,NaN,NaN,NaN
73,74,8,19,1977,8,PF,M,12.0,7.0,NaN,NaN,NaN
74,75,8,19,1977,8,DM,F,32.0,22.0,Dipodomys,merriami,Rodent
75,76,8,19,1977,9,DS,F,47.0,NaN,NaN,NaN,NaN
76,77,8,19,1977,4,SS,NaN,NaN,NaN,NaN,NaN,NaN
77,78,8,19,1977,1,PF,M,16.0,9.0,NaN,NaN,NaN
78,79,8,19,1977,7,DM,F,34.0,42.0,Dipodomys,merriami,Rodent
79,80,8,19,1977,1,DS,M,48.0,NaN,NaN,NaN,NaN
80,81,8,19,1977,4,PF,F,14.0,8.0,NaN,NaN,NaN
81,82,8,19,1977,4,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
82,83,8,20,1977,6,DM,F,37.0,37.0,Dipodomys,merriami,Rodent
83,84,8,20,1977,19,DM,F,35.0,43.0,Dipodomys,merriami,Rodent
84,85,8,20,1977,23,DM,F,35.0,41.0,Dipodomys,merriami,Rodent
85,86,8,20,1977,18,DM,F,33.0,40.0,Dipodomys,merriami,Rodent
86,87,8,20,1977,5,PF,F,11.0,9.0,NaN,NaN,NaN
87,88,8,20,1977,18,DM,F,35.0,45.0,Dipodomys,merriami,Rodent
88,89,8,20,1977,12,PP,F,20.0,15.0,NaN,NaN,NaN
89,90,8,20,1977,18,DM,M,35.0,29.0,Dipodomys,merriami,Rodent
90,91,8,20,1977,11,DS,F,50.0,NaN,NaN,NaN,NaN
91,92,8,20,1977,6,DM,M,35.0,39.0,Dipodomys,merriami,Rodent
92,93,8,20,1977,18,DM,NaN,NaN,42.0,Dipodomys,merriami,Rodent
93,94,8,20,1977,18,DM,F,36.0,43.0,Dipodomys,merriami,Rodent
94,95,8,20,1977,23,DM,M,38.0,46.0,Dipodomys,merriami,Rodent
95,96,8,20,1977,12,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
96,97,8,20,1977,18,DM,M,36.0,41.0,Dipodomys,merriami,Rodent
97,98,8,20,1977,5,DM,M,38.0,40.0,Dipodomys,merriami,Rodent
98,99,8,20,1977,11,DM,M,37.0,45.0,Dipodomys,merriami,Rodent
99,100,8,20,1977,5,DS,F,54.0,NaN,NaN,NaN,NaN

In [139]:
sex_df.groupby('sex')['weight'].mean().plot(kind='bar’)

SyntaxError: EOL while scanning string literal (<ipython-input-139-9c991d23d9e5>, line 1)